.nav{
    background-color:#edefee;
    font-family: "Marakazi Text";
    font-size: 20pt;
}

.nav ul{
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    list-style-type: none;
    padding-top: 12px;
    text-decoration: none;

}
.link-nav{
    color: #495e57;
    text-decoration: none;
}
.link-nav:hover{
    color:#f4ce14 ;
}
.active{
    color:#f4ce14;
}
.nav ul li{
    justify-self: center;
    align-self: center;
}

.nav img{
    grid-column: 1/3;
    line-height: 0;
    justify-self: start;
    align-self: center;
    max-width: 15.625rem;

}


@media screen and (max-width: 980px){
    .nav ul{
        display: none;
    }

    .hamburgerExp{
        display: inline;
        background-color: #edefee;
        height: 50vh;
        width: 50vw;
        position: absolute;
    }
}